<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>Instagram Collage</title>
    <!-- Bootstrap core CSS -->
    <link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/konvajs/konva/1.7.6/konva.min.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!--Awesome font icons link-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <link rel="stylesheet" href="../css/gallery.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><span class="fab fa-instagram"></span></a>
          <div class="inline-block"><img class="logo-image" src="../assets/img/Instagram_logo.svg_.png" alt="logo-svg"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="form-control input-container inline-block">
          	<input type="text" class="hidden-input hide" id="search-input" placeholder="Search" autocomplete="on">
          	<div class="false-input-container">
          		<div class="text-center">
          			<span class="fas fa-search grey-letter"></span>
          			<span class="grey-letter">Search</span>
          		</div>
          	</div>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/"><i class="far fa-compass"></i></a></li>
            <li><a href="../navbar-static-top/"><i class="far fa-heart"></i></a></li>
            <li class="active"><a href="./"><i class="far fa-user"></i></a></li>
          </ul>
        </div>
      </div>
		</nav>
    <div class="container header-insta">
      <div class="row">
      	<div class="col-xs-12 col-sm-8 col-lg-8 col-sm-offset-1 col-lg-offset-1">
      		<img class="col-xs-12 col-sm-8 col-lg-12 col-sm-offset-1 col-lg-offset-1 hidden-xs hidden-sm " src="../assets/img/header-insta.png" alt="header-insta">
      		<img class="col-xs-12 col-sm-8 col-lg-8 col-sm-offset-1 col-lg-offset-1 hidden-xs hidden-lg" src="../assets/img/m-insta.png" alt="header-insta">
      		<img class="col-xs-12 col-sm-8 col-lg-8 col-sm-offset-1 col-lg-offset-1 hidden-sm hidden-md hidden-lg" src="../assets/img/insta-mobile.png" alt="header-insta">
      	</div>
      </div>
    </div>
 <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
          <div id="picture-gallery" class="picture-gallery"></div>
    </div>
  </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <div id="photo" class="photo">
              <img src="../assets/img/booo.gif" alt="image" class="img1 pictures">
              <img src="../assets/img/giphy.gif" alt="image" class="pictures">
              <img src="../assets/img/tumblr_o3f97xFqda1uaqgbfo1_500.gif" alt="image" class="pictures">
              <img src="../assets/img/halsey-2016-mtv-vmas.jpg" alt="image" class="pictures">
              <img src="../assets/img/c83d813cb11913bec2993793849552afc1e0faef.jpg" alt="image" class="pictures">
              <img src="../assets/img/6Rwq6t7E_400x400.jpeg" alt="image" class="pictures">
              <img src="../assets/img/descarga.jpg" alt="image" class="pictures">
            </div>
          </div>
        </div>
  </div>
      <section class="gallery-section">
    	<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12">
       <div class="text-center col-xs-12 col-md-12">
          <div id="form-imagenes" class="photo-profile" action="">
            <label class="btn btn-file">
              <input type="file" name="file" id="upload" class="hidden">
              <i class="fas fa-cloud-upload-alt"></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- Bootstrap core JavaScript=============== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/collage.js"></script>
  </body>
</html>
